<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading..</title>
    <link rel="stylesheet" href="/css/loading.css">
</head>
<body>
<div class="container">
    <div class="logo-container">
        <img src="/images/로딩딩가1.png" alt="Loading" class="logo-image logo1" id="main-loading">
        <!--    <img src="/images/로딩딩가2.png" alt="Loading" class="logo-image logo2">-->
        <img src="/images/로딩음표1.png" alt="Loading" class="logo-image logo3">
        <img src="/images/로딩음표3.png" alt="Loading" class="logo-image logo4">
        <img src="/images/로딩음표2.png" alt="Loading" class="logo-image logo5">
        <img src="/images/로딩음표4.png" alt="Loading" class="logo-image logo6">
    </div>
    <div class="loading-text">방.학하러 가는 길 ...</div>
    <div class="loading-percentage" id="loading-percentage">0%</div>
</div>
<script src="/js/loading.js"></script>
</body>
</html>
