<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Pragma" content="no-cache">
    <!--    <link rel="stylesheet" href="css/style.css">-->
    <link rel="stylesheet" href="/css/login.css"/>
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
    <title>학부모 로그인</title>
    <script>
        if (performance.navigation.type === performance.navigation.TYPE_BACK_FORWARD) {
            window.location.reload(true);
        }
    </script>

<!--    <style>-->
<!--        /** {*/-->
<!--        /*    margin: 0;*/-->
<!--        /*    padding: 0;*/-->
<!--        /*    box-sizing: border-box;*/-->
<!--        /*}*/-->

<!--        /*body {*/-->
<!--        /*    background: linear-gradient(rgba(59, 190, 234, 0.51), rgba(177, 228, 255, 0.56));*/-->
<!--        /*    margin: 0;*/-->
<!--        /*    padding: 0;*/-->
<!--        /*    height: 100vh; !* 화면 높이에 맞춤 *!*/-->
<!--        /*    display: flex;*/-->
<!--        /*    justify-content: center; !* 가로 방향 중앙 정렬 *!*/-->
<!--        /*    align-items: center;*/-->
<!--        /*}*/-->

<!--        /*.loginForm {*/-->
<!--        /*    padding: 80px 10px;*/-->
<!--        /*    width: 50%;*/-->
<!--        /*    max-width: 500px;*/-->
<!--        /*    background: white;*/-->
<!--        /*    border-radius: 80px;*/-->
<!--        /*    box-shadow: 0 4px 6px white;*/-->
<!--        /*    display: flex;*/-->
<!--        /*    align-items: center; !* 버튼들이 가로로 중앙 정렬 *!*/-->
<!--        /*    justify-content: center;*/-->
<!--        /*    gap: 30px;*/-->
<!--        /*    position: relative; !* h1을 absolute로 위치시킬 기준 *!*/-->
<!--        /*}*/-->

<!--        /*.loginForm h2 {*/-->
<!--        /*    position: absolute;*/-->
<!--        /*    top: 25px;*/-->
<!--        /*    left: 50%;*/-->
<!--        /*    transform: translateX(-50%); !* 가로 중심 정렬 *!*/-->
<!--        /*    margin: 0;*/-->
<!--        /*    font-size: 24px;*/-->
<!--        /*    font-weight: bold;*/-->
<!--        /*    text-align: center;*/-->
<!--        /*    border-bottom: 3px solid #73de73;*/-->
<!--        /*}*/-->

<!--        /*input[type="text"], input[type="password"] {*/-->
<!--        /*    width: 100%;*/-->
<!--        /*    padding: 8px;*/-->
<!--        /*    margin: 5px 0;*/-->
<!--        /*    border: 1px solid #8dceec;*/-->
<!--        /*    border-radius: 5px;*/-->
<!--        /*}*/-->

<!--        /*input[type="submit"] {*/-->
<!--        /*    width: 100%;*/-->
<!--        /*    padding: 8px;*/-->
<!--        /*    margin: 3px 0;*/-->
<!--        /*    border-radius: 5px;*/-->
<!--        /*    box-sizing: border-box;*/-->
<!--        /*    background-color: #8dceec;*/-->
<!--        /*    color: white;*/-->
<!--        /*    border: none;*/-->
<!--        /*    cursor: pointer;*/-->
<!--        /*    transition: background-color 0.3s;*/-->
<!--        /*}*/-->

<!--        /*input[type="submit"]:hover {*/-->
<!--        /*    background-color: #5ea0d7;*/-->
<!--        /*}*/-->

<!--        /*input[type="button"] {*/-->
<!--        /*    width: 100%;*/-->
<!--        /*    padding: 8px;*/-->
<!--        /*    border-radius: 5px;*/-->
<!--        /*    box-sizing: border-box;*/-->
<!--        /*    background-color: #73de73;*/-->
<!--        /*    color: white;*/-->
<!--        /*    border: none;*/-->
<!--        /*    cursor: pointer;*/-->
<!--        /*    transition: background-color 0.3s;*/-->
<!--        /*}*/-->

<!--        /*input[type="button"]:hover {*/-->
<!--        /*    background-color: #59b658;*/-->
<!--        /*}*/-->

<!--    </style>-->

<!--    <script type="text/javascript">-->
<!--        window.history.forward();-->
<!--    </script>-->

</head>

<body>
<div class="loginForm" id="parentForm">
    <form action="/pLogin" method="POST">
        <h2>학부모 로그인</h2>
        ID <input type="text" id="pId" name="pId"/>
        <br/>
        PW <input type="password" id="pPass" name="pPass"/>
        <br/><br/>
        <input type="submit" value="로그인"/>
        <input type="button" class="goBack" value="뒤로가기" onclick="window.location.href='/main';"/>

    </form>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script>

    // 학부모 로그인
    $("#parentLogin").click(() => {
        $(".loginBtn").hide();
        $(".loginForm#parentForm").show();
    });

    // 뒤로가기 클릭
    $(".goBack").click(() => {
        $(".loginBtn").show();
        $(".loginForm").hide();
    });

    document.addEventListener("DOMContentLoaded", () => {
        fetch('/api/session')
            .then(response => response.json())
            .then(data => {
                if (data.loggedIn) {
                    alert("잘못된 접근입니다.");
                    location.href = "/";
                }
            })
            .catch(error => console.error('Error checking session:', error));
    });


</script>

</html>